.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #282c34;
}

.footer-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

.footer-left {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.name {
  font-size: 1.1rem;
  font-weight: normal;
  padding-left: 0.3em;
}

.footer * {
  color: #fff;
}

.footer-icons {
  padding: 0 10px;
  font-size: 20px;
}

.footer .developed-by {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 0.12em solid;
  margin-right: 1.4em;
  padding-right: 1.4em;
}

.footer .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.4em;
  border-left: 0.12em solid;
  padding-left: 1.4em;
}

.footer img {
  width: 5rem;
  margin-left: 1em;
}
