.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

main {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0 4em;
  text-align: center;
}

.App a {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}
